<img class="logo" src="/assets/headphones.png" alt="headphones" style="position: absolute; top: 0; left: 0;" />
<img class="logo" src="/assets/headphones.png" alt="headphones" style="position: absolute; top: 0; right: 0;" />
<div class="home-wrapper" style="text-align: center; margin-top: 0;">
   <div class="navbar-title">
      <h2>The HackerFlow Radio</h2>
   </div>
   <div class="navbar">
      <button type="button"> <a href="/listener">Listener</a></button>
      <button type="button"> <a href="/DJ">DJ</a></button>
      <button type="button"> <a href="/producer">Producer</a></button>
      <button type="button"> <a href="/">Home</a></button>
   </div>
</div>