<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/external-headphones-communication-kiranshastry-gradient-kiranshastry.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The HackerFlow Radio</title>
        <link href="/css/group9.css" rel="stylesheet">
    </head>
    <body>
        
        <div class="body-wrapper">
            <div class="binary-left">
                <div class="binary-stream1"></div>
                <div class="binary-stream2"></div>
                <div class="binary-stream1"></div>
                <div class="binary-stream2"></div>
                <div class="binary-stream1"></div>
                <div class="binary-stream2"></div>
                <div class="binary-stream1"></div>
            </div>
            <div class="home-wrapper">
                <div class="title">
                    <img class="logo" src="/assets/headphones.png" alt="headphones"/>
                    <input type="checkbox" id="volume-on" checked> Volume On
                    <audio id="logo-audio" src="/assets/techno-fest.mp3" preload="auto"></audio>
                    <script src="/js/logo-music.js"></script>
                    
                    <h1>The HackerFlow Radio</h1>
                    <i>~ The Chillest Electronic Frequencies At Your Fingertips ~</i>
                    <h3>Choose a role:</h3>
                </div>
                <div class="navbar">
                    <button type="button"> <a href="/listener">Listener</a></button>
                    <button type="button"> <a href="/producer">Producer</a></button>
                    <button type="button"> <a href="/DJ">DJ</a></button>
                    <button type="button"> <a href="/">Home</a></button>
                </div>
            </div>
            <div class="binary-right">
                <div class="binary-stream1"></div>
                <div class="binary-stream2"></div>
                <div class="binary-stream1"></div>
                <div class="binary-stream2"></div>
                <div class="binary-stream1"></div>
                <div class="binary-stream2"></div>
                <div class="binary-stream1"></div>
            </div>
            <script src="/js/binary-stream.js"></script>
        </div>
    </body>
</html>
