body{
    margin: 0; 
    padding: 0; 
    position: relative;
}

.dj-body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    min-width: 320px;
    min-height: 100vh;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h4{
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.dropdown { 
    display: inline-block; 
    position: relative;
 } 

    .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    }

    select {
        background-color: #ffffff;
        width: 500px
    }

.dj-song-body {
    padding: 25px;
    position: relative;
    width: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-section {
    height: 250px;
    overflow: auto;
    width: 90%;
    border: 1px solid #ccc;
    margin: 20px;
}

td,
th {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    width: 20%;
}

td:nth-child(1) {
    width: 15px;
    font-size:18px;
    text-align: center;
    }

  td:nth-child(2) {
    width: 400px;
  }

.divider{
    width:250px;
    height:auto;
    display:inline-block;
}

.search-filter{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.search
{
    position: absolute;
    top: 50%;
    left: 30%;
    }

    input{
        width: 200px;
        font-size: 20px;
        display: block;
    }

.dropdown-media { 
    display: flex; 
    position: relative;
    } 

.dropdown-media select {
    background-color: #ffffff;
    width: 200px;
}

.form-control {
    padding-right: 25px;
}

.change-name {
    margin-bottom: 10px;
    font-size: 12px;
}