body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #2e2d2d;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

.body-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .title h1 {
    margin-bottom: 5px;
  }

  button,
  select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  .home-wrapper .title {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
    transform: scale(1.5);
  }
  .navbar button {
    height: 38px;
    margin: 5px;
    padding-top: 6px;
  }
  .navbar-title {
    font-size: 40px;
  }

  .logo {
    width: 30%;
    height: 30%;
  }
  
  @keyframes pulse-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .logo:hover {
      transform: scale(1);
      animation: pulse-animation .5s infinite;
  }

.binary-left,
.binary-right {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.binary-left .binary-stream1,
.binary-right .binary-stream1,
.binary-left .binary-stream2,
.binary-right .binary-stream2 {
    font-size: 24px;
    color: #00ff00; /* Change the color to your preference */
    white-space: nowrap;
}

.binary-left .binary-stream1,
.binary-right .binary-stream1 {
  animation: animateBinary1 5s linear infinite;
}

.binary-left .binary-stream2,
.binary-right .binary-stream2 {
  animation: animateBinary2 5s linear infinite;
}

@keyframes animateBinary1 {
    0% {
        /* transform: translateY(0); */
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      /* transform: translateY(calc(100vh - 1em));  */
      opacity: 1;
    }
}

@keyframes animateBinary2 {
  0% {
      transform: translateY(0);
      opacity: 0.5;
  }
  25% {
      opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    /* transform: translateY(calc(100vh - 1em));  */
    opacity: 0.5;
  }
}
