<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/png" href="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/external-headphones-communication-kiranshastry-gradient-kiranshastry.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The HackerFlow Radio</title>
        <link href="/css/group9.css" rel="stylesheet" type="text/css">
        <link href="/css/dj.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <img class="logo" src="/assets/headphones.png" alt="headphones" style="position: absolute; top: 0; left: 0; width: 64px; height: 64px;"/>
        <div class="home-wrapper">
            <div class="title">
                <h2>The HackerFlow Radio</h2>
            </div>
            <div class="navbar">
                <button type="button"> <a href="listener">Listener</a></button>
                <button type="button"> <a href="/producer">Producer</a></button>
                <button type="button"> <a href="/DJ">DJ</a></button>
                <button type="button"> <a href="/">Home</a></button>
            </div>
        </div>

        <div class="dj-body-wrapper">
            <div class="dj-title">
                <h1>DJ</h1>
            </div>
            <div class="search-filter">
                <div class="search-box">
                    <input type="search" id="search" placeholder="Search" />
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class = "dropdown-media">
                    <select name="Media Type" id="Media Type"> 
                        <div class="dropdown-content">
                            <option disabled="disabled" selected="selected" value="choose" selected>Media Type</option>
                            <option value="Any">Any</option> 
                            <option value="Song">Song</option> 
                            <option value="Ad">Ad</option> 
                            <option value="Talk Segment">Talk Segment</option> 
                        </div>
                    </select>
                </div>
            </div>
            <div class="dj-song-body">
                <table>
                    <tr style="background-color: gray">
                        <th colspan="2" style="font-size: 20px;">Search Results</th>
                    </tr>
                    <tr>
                        <td> 
                            1
                        </td>
                        <td>Search 1</td>
                    </tr>
                    <tr>
                        <td>
                           2
                        </td>
                        <td>Search 2</td>
                    </tr>
                    <tr>
                        <td>
                           3
                        </td>
                        <td>Search 3</td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>Search 4</td>
                    </tr>
                </table>
                <br>
                <button type="button"> <a href="">Add to Playlist</a></button>
                <div class="divider"></div>
                <button type="button"> <a href="/DJ">Cancel</a></button>
            </div>
        </div>
    </body>
</html>